#topGraphic {
    background-image: radial-gradient(orange, blue);
    margin-bottom: 0%;
}

#title {
    color: #1cb2b8;
}

h2 {
    color: #db0ea8;
}

h4 {
    color: #be720e;
}

h3 {
    color: #d62e17;
}

#playSpace {
    background-image: linear-gradient(to right, green,yellow, blue);