#topGraphic {
    background-image: radial-gradient(orange, blue);
    margin-bottom: 0%;
}

#title {
    color: #1cb2b8;
}

h2 {
    color: #d6e41b
}

h4 {
    color: #14c23a
}

h3 {
    color: #d62e17
}

#playSpace {
    background: #2809d4
}